@font-face {
    font-family: "Open Sans";
    src : url("fonts/OpenSans_Condensed-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

$button-color: #FDD92A;
$bg-grey: #F1F1F1;

.App {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 60px;

    padding: 20px;

    .circled {
        border-radius: 20px;
    }

    .centered {
        display: flex;
        justify-content: center;
    }

    .Sports {
        grid-column: 1 / 9;

        display: grid;
        grid-template: 1fr;

        border: 8px solid $bg-grey;

        h1 {
            background-color: $bg-grey;
            padding: 10px 20px;
        }

        .MatchesList {
            padding: 40px;
            display: grid;
            grid-template: 1fr;
            row-gap: 40px;
        }

        .Match {
            padding: 10px;
            box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);

            .bets-wrapper {

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                padding: 10px;

                .match-league, .match-time {
                    font-size: 1.25rem;
                }

                .match-league {
                    font-weight: bold;
                }

                .match-time {
                    display: flex;
                    justify-content: right;
                }

                .TeamPic {
                    padding: 10px;
                    justify-self: center;
                    width: 100%;
                    img {
                        max-width: 100px;
                    }
                }

                .TeamName {
                    padding: 10px;
                    font-size: 1.25rem;
                }

                .Draw {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 50px;
                    grid-row: span 2;
                }

                .BetButton {
                    padding: 10px;

                    button {
                        border: none;
                        background-color: white;
                        padding: 8px 40px;
                        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
                        font-weight: bold;
                        font-size: 1.25rem;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    
    .Coupon {
        grid-column: 9/ 13;
        padding: 40px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
        background-color: white;

        .coupon-window {
            box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
            padding: 20px;
        }

        hr {
            width: 100%;
            border: 1px solid black;
        }

        .events-container {
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            gap: 10px;

            .Event {
                border: 1px solid black;
                display: flex;
                
                .clear-match {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-right: 1px solid black;
                    padding: 5px;
                    
                    span {
                        cursor: pointer;
                        padding: 5px;
                    }
                }

                .event-info {
                    padding: 10px;
                }
            }
        }

        .place-bet-container {
            display: flex;
            flex-direction: column;
            align-items: end;
            padding-top: 10px;

            .bet-wrapper {
                width: 100%;
                display: flex;
                justify-content: right;
                gap: 20px;

                input {
                    width: 100%;
                    text-align: right;
                    padding-right: 10px;
                }

                button {
                    background-color: $button-color;
                    padding: 5px 20px;
                    font-weight: bold;
                    cursor: pointer;
                    white-space: nowrap;
                }
            }

            .bet-info-wrapper {
                width: 100%;
                padding-top: 10px;
                .coef, .payout {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    font-weight: bold;
                }
            }
        }
    }
}